/* Base CSS */
.alignleft{
    float: left;
    margin-left: 15px;
}
.alignright{
    float: right;
    margin-left: 15px;
}
.aligncenter{
    display: block;
    margin: 0 auto 15px;
}
a:focus {outline:0 solid}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 0 15px;
    font-weight: 700;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color:#9c9c9c
}
a:hover{text-decoration: none;}


.gray-bg{background-color: #fafafa;}

.service-bg-1{background-image: url(../Images/bg1.jfif);}
.service-bg-2{background-image: url(../Images/bg2.png);}
.service-bg-3{background-image: url(../Images/bg3.png);}
.service-bg-4{background-image: url(../Images/bg4.png);}

.service-bg {
    height: 225px;
    background-color: #ddd;
    background-position: center;
    background-size: cover;
}

.section-padding {
    padding: 80px 0;
}

.section-title h2 {
    font-size: 25px;
}

.section-title {
    margin-bottom: 50px;
}

.single-service-item {
    background: #fff none repeat scroll 0 0;
    transition: .2s;
}
.single-service-item:hover {
    box-shadow: 0 0 10px #39ca74;
}

.service-content {
    padding: 20px;
}

.service-more-btn {
    display: inline-block;
    color: #39ca74;
    /* background: #39ca74; */
    padding: 10px 0;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 5px;
    font-weight: 700;
    transition: .3s;
}

.service-more-btn i.fa {
    padding-left: 26px;
}

.service-more-btn:hover {
    background: #39ca74;
    color: #fff;
    padding: 10px 20px;
}





